@model CardRequestViewModel

@{
    ViewBag.PageTitle = "     بارگذاری فایل نهایی ";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
<script>
function  Validate()
{
    // var phoneNumber = document.getElementById('Phone').value;
    //  var phoneRGEX = /^[0-9]{4}[0-9]{3}[0-9]{4}/;
    //  var phoneResult = phoneRGEX.test(phoneNumber);
    //
    
    //  if (!phoneResult)
    //      alert('فرمت تلفن مناسب نمی باشد');
    //  return phoneResult;
    }
</script>
<form action="@Url.Action("UploadFile", "CardRequest")" onsubmit="Validate()" method="post" class="form-horizontal" id="frmCreateMessage">

     
  @Html.Hidden("Id")
    <div class="form-group">
        <label class="control-label col-md-2" for="PostedFiles">فایل</label>
        <div class="col-md-10">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file" tabindex="6">
                    @* <span class="fileinput-new">انتخاب فایل</span><span class="fileinput-exists">انتخاب فایل</span> *@
                    <label for="PostedFiles" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i>   انتخاب کنید
                    </label>
                    
                    <input type="file" id="PostedFiles" style="display: none" name="PostedFiles" multiple
                           accept=".pdf">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <button id="btnConfirm" type="submit" class="btn btn-success btn-lg" data-loading-text="درحال ارسال...">ارسال</button>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">انصراف</button>
        </div>
    </div>
</form>
<style>
    .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
    }
</style>
<script type="text/javascript">
 
 
 $('#PostedFiles').change(function() {
   
   var i = $(this).prev('label').clone();
   var file = $('#PostedFiles')[0].files[0].name;
     
   $(this).prev('label').text(file);
 });
 
 
 function myfunc(e)
 {
     $('.radCHeck').prop('checked', false);
     
  $("#rad-" + e).prop("checked",! $("#rad-" + e).is(":checked"));
  $("#TemplateId").val(e);
  
     
     }
    $(document).ready(function () {
        $('#frmCreateMessage').submit(function(e) {
                               }).validate({
            rules: {
                
                PostedFiles : {required : true},
               
               
                 
            },
            submitHandler: function (form,e) {
               
                
                
                var $button = $('#btnConfirm', '#frmCreateMessage');
                $button.button('loading');

                $(form).ajaxSubmit({
                    success: function (result) {
                        $button.button('reset');
                        $.processMessage(result);

                        if (result.success) {
                            $.closeModal('ok');
                        }
                    }, error: function (result) {
                        $button.button('reset');
                        $.processMessage(result);
                    }
                });
            }
        });
    });
</script>