@{
    ViewBag.PageTitle = "تلفن های تماس واحد عملیات و پشتیبانی";
}

<div class="page-header">
    <h1>تلفن های تماس واحد عملیات و پشتیبانی</h1>
</div>

<h5>در صورت بروز هر نوع مشکل، سوال و یا فراموش کردن رمز عبور، با کارشناسان شرکت تجارت الکترونیک سرمایه با شماره تماس‏های ذیل، تماس حاصل فرمایید.</h5>

<br />

<div class="table-responsive">
    <table class="table table-bordered table-striped text-center">
        <tbody>
            <tr>
                <td> رابط پروژه بانک سرمایه </td>
                <td>آقای قربانعلی</td>
                <td class="monospaced-number">09354225216/84235108 </td>
            </tr>
            <tr>
                <td> رابط پروژه فن آوا کارت </td>
                  <td>   آقای فرهاد قلی زاده</td>
                <td class="monospaced-number">84235209</td>
            </tr>
            <tr>
                <td> رابط پروژه شرکت ایران کیش      </td>
                <td>   آقای حسام نقشوان  </td>
                <td class="monospaced-number">84235226</td>
            </tr>
            <tr>
                <td> رابط پروژه شرکت پارسیان</td>
                <td> خانم آیلین چوبینه  </td>
                <td class="monospaced-number">84235205</td>
            </tr>
        <tr>
            <td>    واحد صدور کارت   </td>
            <td>   آقای فرهاد قلی زاده</td>
            <td class="monospaced-number">84235209</td>
        </tr>
        
         <tr>
                        <td>     مسئول دفتر واحد امور مشتریان       </td>
                        <td>    خانم الهام کاهیار      </td>
                        <td class="monospaced-number">84235116</td>
                    </tr>
        </tbody>
    </table>
</div>

<h5> (در صورت پیگیری بیشتر با آقای محمد قربانعلی تماس حاصل فرمایید.)  </h5>

 