@{
    ViewBag.Title = "تغییر رمز عبور";
}

<div class="page-header">
    @if (ViewBag.PasswordExpired != null && ViewBag.PasswordExpired)
    {
        <div class="alert alert-danger">
            <p>رمز عبور شما منقضی شده است. لطفاً نسبت به تغییر آن اقدام نمایید.</p>
        </div>
    }

    <h1 class="header-title">تغییر رمز عبور</h1>
</div>

<form action="@Url.Action("ChangePassword", "Account")" method="post" id="AccountChangePasswordForm" class="form-horizontal">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label col-md-2" for="CurrentPassword">رمز عبور فعلی</label>
        <div class="col-md-4">
            <input id="CurrentPassword" class="form-control" type="password" value="" name="CurrentPassword" maxlength="50" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="NewPassword">رمز عبور جدید</label>
        <div class="col-md-4">
            <input id="NewPassword" class="form-control" type="password" value="" name="NewPassword" maxlength="50" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="ConfirmNewPassword">تکرار رمز عبور جدید</label>
        <div class="col-md-4">
            <input id="ConfirmNewPassword" class="form-control" type="password" value="" name="ConfirmNewPassword" maxlength="50" />
        </div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ثبت" class="btn btn-success" />
        </div>
    </div>
</form>

@section scripts {
    @BundleConfig.AddScripts("~/bundles/accountChangePasswordScripts",
        "~/Scripts/jquery.validate.min.js",
        "~/Scripts/jquery.validation-messages.fa.js",
        "~/Scripts/jquery.validation-extensions.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#AccountChangePasswordForm').validate({
                rules: {
                    CurrentPassword: { required: true, minlength: 6, maxlength: 50 },
                    NewPassword: { required: true, minlength: 6, maxlength: 50 },
                    ConfirmNewPassword: { required: true, minlength: 6, maxlength: 50, equalTo: '#NewPassword' }
                }
            });
        });
    </script>
}