<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDefineMerchants">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IDefineMerchants1">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IDefineMerchants2">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://mms.irankish.com/Services/DefineMerchant"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDefineMerchants"
                contract="TES.Merchant.Web.UI.IranKishServiceRefrence.IDefineMerchants"
                name="BasicHttpBinding_IDefineMerchants" />
            <endpoint address="https://mms.irankish.com/Services/DefineMerchant"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDefineMerchants1"
                contract="TES.Merchant.Web.UI.IranKishServiceRefrence.IDefineMerchants"
                name="BasicHttpBinding_IDefineMerchants1" />
            <endpoint address="https://mms.irankish.com/Services/DefineMerchant"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDefineMerchants2"
                contract="TES.Merchant.Web.UI.IranKishServiceRefrence.IDefineMerchants"
                name="BasicHttpBinding_IDefineMerchants2" />
        </client>
    </system.serviceModel>
</configuration>