@{
    ViewBag.PageTitle = "ارسال گروهی پذیرندگان";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<form class="form-horizontal" method="post" action="@Url.Action("GroupConfirm", "BranchTerminal")" id="TerminalGroupConfirmForm">
    <div id="PspIdSection" class="form-group">
        <label class="control-label col-md-2" for="PspId">شرکت</label>
        <div class="col-md-4">
            @Html.DropDownList("PspId", (IEnumerable<SelectListItem>) ViewBag.PspList, "انتخاب نمایید", new {@class = "form-control"})
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" data-loading-text="در حال ثبت ..." id="ConfirmButton" class="btn btn-success btn-lg">ثبت</button>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">انصراف</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#TerminalGroupConfirmForm').validate({
            rules: {
                PspId: { required: true }
            }, submitHandler: function (form) {
                var $button = $('#ConfirmButton', '#TerminalGroupConfirmForm');
                $button.button('loading');

                var terminalIdList = [];
                $('#tblData tbody tr.info').each(function () {
                    terminalIdList.push($(this).data('terminal-id'));
                });

                $(form).ajaxSubmit({
                    data: {
                        terminalIdList: terminalIdList
                    },
                    success: function (result) {
                        $button.button('reset');
                        $.processMessage(result);
                        
                        if (result.success) {
                            $.closeModal('ok');
                        }
                    }, error: function (result) {
                        $button.button('reset');
                        $.processMessage(result);
                    }
                });
            }
        });
    });
</script>