@{
    ViewBag.PageTitle = "ارسال تیکت";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
<script>
function  Validate()
{
 
    }
</script>
<form action="@Url.Action("Create", "Message")" onsubmit="Validate()" method="post" class="form-horizontal" id="frmCreateMessage">

    <div class="form-group">
        <label class="control-label col-md-2 required" for="FullName">نام و نام خانوادگی</label>
        <div class="col-md-10">
            <input type="text" id="FullName" name="FullName" class="form-control" maxlength="300" autocomplete="off" />
        </div>
    </div>
    
    <div class="form-group">
        @* <label class="control-label col-md-2  " for="ExtraDataTopic">اطلاعات تکمیلی</label> *@
        @* <div class="col-md-4"> *@
        @*         *@
        @*     @Html.DropDownList("ExtraDataTopic", (IEnumerable<SelectListItem>)ViewBag.TypeList, "انتخاب نمایید", new { @class = "form-control" }) *@
        @* *@
           @* </div>*@
             <label class="control-label col-md-2  " for="ExtraDataTopicValue">شماره پیگیری پایانه / درخواست</label>
                    <div class="col-md-10">
                           
                                  <input type="text" id="ExtraDataTopicValue" name="ExtraDataTopicValue" class="form-control" maxlength="300" autocomplete="off" />

                    </div>
            
    </div>
    
    <div class="form-group">
        <label class="control-label col-md-2" for="Phone">تلفن</label>
        <div class="col-md-10">
            <input type="text"  id="Phone" pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}" name="Phone"  placeholder="09121234567" class="form-control" maxlength="300" autocomplete="off" />
        </div>
    </div>
    
    
    <div class="form-group">
        <label class="control-label col-md-2 required" for="MessageSubjectId">موضوع اول</label>
        <div class="col-md-10">
          
 @Html.DropDownList( "MessageSubjectId", new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
               "انتخاب نمایید", new { id = "MessageSubjectId" , @class = "form-control" , disabled="disabled" })
        </div>
        
        
    </div>
<div class="form-group">
        <label class="control-label col-md-2" for="MessageSecondSubjectId">موضوع دوم</label>
        <div class="col-md-10">
           
       
 @Html.DropDownList( "MessageSecondSubjectId", new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
               "انتخاب نمایید", new { id = "MessageSecondSubjectId" , @class = "form-control" , disabled="disabled"   })
        </div>
        
        
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 required" for="Body">متن پیام</label>
        <div class="col-md-10">
            <textarea id="Body" name="Body" class="form-control" rows="5"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="PostedFiles">فایل</label>
        <div class="col-md-10">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file" tabindex="6">
                 <label for="PostedFiles" class="custom-file-upload">
                                        <i class="fa fa-cloud-upload"></i>   انتخاب کنید
                                    </label>
                                    
                    <input type="file" id="PostedFiles" name="PostedFiles" multiple accept=".jpg,.jpeg,.pdf,.docx,.png,.xls,.xslx">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <button id="btnConfirm" type="submit" class="btn btn-success btn-lg" data-loading-text="درحال ارسال...">ارسال</button>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">انصراف</button>
        </div>
    </div>
</form>

<script type="text/javascript">

 $('#PostedFiles').change(function() {
   
   var i = $(this).prev('label').clone();
   var file = $('#PostedFiles')[0].files[0].name;
   
   $(this).prev('label').text(file);
 });
  
         $(document).ready(function () {
             $("#MessageSubjectId").change(function () {
                 var categoryId = $(this).val();
                            
                 $("#MessageSecondSubjectId").attr("disabled", "disabled"); 
                 $.getJSON("../Message/LoadSecondSubject", { categoryId: categoryId },
                     function (classesData) {
                              $("#MessageSecondSubjectId").removeAttr("disabled", "disabled"); 
                         var select = $("#MessageSecondSubjectId");
                         select.empty();
                         select.append($('<option/>', {
                             value: 0,
                             text: "انتخاب نمایید"
                         }));
                         $.each(classesData, function (index, itemData) {
                             select.append($('<option/>', {
                                 value: itemData.Value,
                                 text: itemData.Text
                             }));
                         });
                     });
             });
             
             
                $("#ExtraDataTopicValue").change(function () {
                              var categoryId = $(this).val();
                              $.getJSON("../Message/LoadSubject", { terminalId: categoryId },
                                  function (classesData) {
                                     $("#MessageSubjectId").removeAttr("disabled", "disabled"); 
                                      var select = $("#MessageSubjectId");
                                      select.empty();
                                      select.append($('<option/>', {
                                          value: 0,
                                          text: "انتخاب نمایید"
                                      }));
                                      $.each(classesData, function (index, itemData) {
                                          select.append($('<option/>', {
                                              value: itemData.Value,
                                              text: itemData.Text
                                          }));
                                      });
                                  });
                          });
         });
    
    $(document).ready(function () {
        $('#frmCreateMessage').validate({
            rules: {
                Subject: { required: true, maxlength: 3000 },
                Body: { required: true },
                MessageSecondSubjectId : {required : true},
                MessageSubjectId : { required : true }
            },
            submitHandler: function (form) {
                var $button = $('#btnConfirm', '#frmCreateMessage');
                
                       if (  $('#MessageSubjectId').val() == 0)
                                           {
                 
                                                    $('#MessageSubjectId').prop("required", true);
                                                    return
                }
                       
                       
                $button.button('loading');

         
                $(form).ajaxSubmit({
                    success: function (result) {
                        $button.button('reset');
                        $.processMessage(result);

                        if (result.success) {
                            $.closeModal('ok');
                        }
                    }, error: function (result) {
                        $button.button('reset');
                        $.processMessage(result);
                    }
                });
            }
        });
    });
</script>