<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h3 class="panel-title">
            خطا
        </h3>
    </div>

    <div class="modal-body">
        <div class="alert alert-danger">
            <p>
                متاسفانه خطایی رخ داد.
            </p>
        </div>
    </div>
</div>