<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h3 class="panel-title">
            @ViewBag.PageTitle
        </h3>
    </div>

    <div class="modal-body">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)    
</div>