@model HandleErrorInfo

@{
    ViewBag.Title = "حساب کاربری غیرفعال می‌باشد";
}

<div class="container">
    <div class="page-header">
        <h1 class="header-title">حساب کاربری غیرفعال می‌باشد</h1>
    </div>
    
    <div class="alert alert-warning">
        حساب کاربری شما از طریق مدیریت پورتال غیرفعال شده است.
    </div>
</div>